.util.h.swp
2
:!make
anap-overlap.out
anap-trans.com
anap-vecs.dat
aodens-08-06-14.tar.gz
aodens-09-10-14.tar.gz
aodens.out
atom.o
main.o
meth.dat
meth.out
methane-2basis.movecs
methane-2basis.nw
methane-2basis.out
methane.movecs
methane2.dat
molecule.cc~
molecule.o
sampleinput
util.h~
water.com
water.db
water.movecs
water.nw
water.out
watervecs.dat
